---
import { Debug } from "astro:components";
import { getAudioItemById } from "@src/audio-items";
import { addTaskToQueue } from "@src/background-queue";

const audioItemIdStr = Astro.params.id;
const audioItemId = parseInt(audioItemIdStr, 10);

const session = await Astro.locals.auth.validate();
const userId = session.user.userId;

const audioItem = await getAudioItemById(audioItemId);
if (audioItem.feed.userId !== userId) {
  return new Response("Unauthorized", { status: 401 });
}

// add task to background queue - fetch audio for audio item
const job = await addTaskToQueue({
  taskName: "fetchAudioForAudioItem",
  taskData: { audioItemId },
});
---

<div hx-get={`/app/job-progress/${job.id}/`} hx-trigger="load"></div>
