---
import Layout from "@src/components/Layout.astro";
import { db } from "@src/db";
import { feeds as feedsTable } from "@src/db/schema";
import { eq } from "drizzle-orm";

const session = await Astro.locals.auth.validate();

async function getFeeds() {
  const userId = session.user.userId;

  const feeds = await db
    .select()
    .from(feedsTable)
    .where(eq(feedsTable.userId, userId));

  return feeds;
}

const feeds = await getFeeds();
---

<Layout>
  <h1>Feeds</h1>

  <ul id="feeds">
    {
      feeds.map((feed) => (
        <li>
          <a href={`/app/feeds/${feed.id}/`}>{feed.name}</a>
        </li>
      ))
    }
  </ul>

  <h2>Create new feed</h2>

  <form
    action="/app/feeds/x-create"
    method="POST"
    hx-post="/app/feeds/x-create"
    hx-target="#feeds"
    hx-swap="beforeend"
    _="on htmx:afterRequest reset() me"
  >
    <input type="text" name="name" />
    <button>Create</button>
  </form>
</Layout>
