---
import Layout from "@src/components/Layout.astro";
import DotSpinner from "@src/components/DotSpinner.astro";
import { Debug } from "astro:components";
import { getFeedsForUser } from "@src/feeds";

const session = await Astro.locals.auth.validate();
const userId = session.user.userId;

const feedIdStr = Astro.url.searchParams.get("feed-id");
const feedId = feedIdStr ? parseInt(feedIdStr) : null;

const feeds = await getFeedsForUser(userId);
---

<Layout>
  <h1>Add a new content item</h1>

  <form action="/app/content-items/new/x-create" method="POST">
    <label for="feed">Feed</label>
    <select id="feed" name="feed-id">
      {
        feeds.map((feed) => (
          <option
            value={feed.id}
            selected={feed.id === feedId ? "" : undefined}
          >
            {feed.name}
          </option>
        ))
      }
    </select>

    <label for="url">URL</label>
    <input type="url" name="url" id="url" />

    <button
      hx-post="/app/content-items/new/x-autofill-form"
      hx-include="closest form"
      hx-target="#autofill"
      hx-swap="outerHTML">Autofill</button
    >
    <div class="svg-container"><DotSpinner /></div>

    <div id="autofill">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" />
    </div>

    <button>Add</button>
  </form>

  <style is:global>
    button + .svg-container {
      display: none;
    }
    .htmx-request + .svg-container {
      display: inline;
    }

    .svg-container svg {
      width: 25px;
      height: 25px;
    }

    input[type="text"] {
      width: 100%;
    }
  </style>
</Layout>
