---
export const partial = true;
import { getArticleTitleFromUrl } from "@src/text-extraction";

const formData = await Astro.request.formData();
const url = formData.get("url");
const articleTitle = await getArticleTitleFromUrl(url);
---

<div id="autofill">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" value={articleTitle} />
</div>
