---
import { getContentItemById, updateContentItem } from "@src/content-items";
import { getTextFromUrl } from "@src/text-extraction";
import { Debug } from "astro:components";

const contentItemIdStr = Astro.params.id;
const contentItemId = parseInt(contentItemIdStr, 10);

const session = await Astro.locals.auth.validate();
const userId = session.user.userId;

const contentItem = await getContentItemById(contentItemId);
if (contentItem.userId !== userId) {
  return new Response("Unauthorized", { status: 401 });
}

const url = contentItem.url;
const textContent = await getTextFromUrl(url);

// add text to content item
await updateContentItem(contentItemId, { textContent });
---

<div>{textContent}</div>
